html, body {
    height: 100%;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

h1{
    font-size: 24px;
}

#navbarUsername{
    color: white;
    margin-right: 10px;
}

#carrinhoConsulta{
    margin-top: 8px;
}