html, body {
    height: 100%;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.container {
    color: white;
}

.conteudo {
    color: rgb(255, 255, 255);
}

.conteudo h1 {
    font-size: 110px;
    text-align: center;
}

.conteudo p {
    font-size: 22px;
    text-align: center;
}

#irCarrinho, #irConsulta, #irAdmin {
    margin-top: 5%;
}

#navbarUsername {
    margin-right: 10px;
}

.navbar-custom {
    justify-content: flex-end;
}

.btn-margin {
    margin-left: 5px;
}

body {
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px); /* Adicionando o filtro de desfoque apenas na imagem de fundo */
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste o último valor (0.5) para alterar a intensidade da máscara */
    z-index: -1;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 110%;
        background-image: url('img/fundo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(6px); /* Adicionando o filtro de desfoque apenas na imagem de fundo */
        z-index: -1;
    }

    .conteudo {
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.0);
    }

    .conteudo h1 {
        font-size: 70px;
        margin-top: 25%;
    }

    .conteudo a {
        font-size: 20px;
        color: rgb(0, 255, 13);
    }
}
